{% extends 'base.html' %}

{% block title %}
  Order Page
{% endblock %}

{% block content %}

  <div class = 'container'>
    <h1>Welcome, Membership ID: {{mem}}</h1>
    <div class="glass">

            {% if oform.otype.data != 'Takeaway' %}
            <form method="post">
                <div class="row" style="display: flex; justify-content: center;">
                    <div class="col-3">
                        {{ oform.table.label }}
                        {{ oform.table(class = 'form-control') }}
                    </div>

                    <div class="col-3">
                        {{ oform.persons.label }}
                        {{ oform.persons(class = 'form-control', placeholder = 'No of Persons') }}
                    </div>            
                </div>
                <br>
                {% if not tflag %}
                <div style="display: flex; justify-content: center;">
                    {{ oform.submit(class = 'btn btn-success') }}
                </div>
                {%endif%}
            </form>
            {%endif%}

            <br>

            <h3>House Categories</h3>
            <br>
            
            <div class="row">               
                {% for hse in house %}
                <div class="col-md-3 card-1">
                    <div id = '{{hse.id}}' class="card category">
                        <div class="card-body">
                            <a>
                                {{hse.Category}}
                            </a>                
                        </div>
                  </div>
                </div>
                {%endfor%}
            </div>
            
            <br>
            <br>

            {% for hs in house%}
            <div class="tbls" id = 'tbls-{{hs.id}}' style="display: none;">
                <h4>{{hs.Category}}</h4>

                <table class="table table-hover">
                    <thead>
                        {% for key in foodkeys %}

                            {%if key != 'Category'%}
                            <th>{{key}}</th>
                            {%endif%}
                            
                            {%endfor%}
                        
                        <th>Quantity</th>
                        <th>Actions</th>
                        
                    </thead>
                    <tbody>
                        {% for record in foodTable %}

                            {% if record.Category == hs.Category %}
                            <tr>
                            <td>{{ record.id }}</td>
                            <td>{{ record.Name }}</td>
                            <td>{{ record.Sale_Price }}</td>
                            
                            <td colspan="2">
                                <form method = 'post' class = 'form-register'>
                                <!-- <label for="Quantity">Quantity</label> -->
                                <input type="hidden" id = "food{{record.id}}" name="food" value="{{ record }}">
                                <input type="hidden" id = "category{{record.id}}" name="category" value = "{{ hs.Category }}">
                                <div class="row">
                                    <div class="col-4">
                                        <input class = "form-control" type="number" name="Quantity" placeholder="Quantity" id="{{record.id}}">
                                    </div>
                                    <div class="col-8" style="justify-content: center; display: flex;">
                                        <button class="btn btn-success" type="submit">Add to Cart</button>
                                    </div>
                                </div>
                                </form>
                            </td>                        
                            </tr>

                            {% endif %}
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            {%endfor%}
            <br>
            <div style = "display: flex; justify-content: right;">
                <a class = "btn btn-lg btn-warning" href="{{ url_for('cart_page', cart = cart) }}">Go to Cart</a>
            </div>
    </div>
  </div>
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".category").click(function() {
                var selectedId = $(this).attr("id");
                $(".tbls").hide();
                $("#tbls-" + selectedId).show();
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $("#tbls-{{cat}}").show();
        });
    </script>
{% endblock %}